.item{
    border: 2px solid black;
}
@media (min-device-width: 660px) {
 .flex-wrapper {
     display: flex;
     justify-content: space-between;
 }
    .flex-item:nth-child(1){
        order: 1;
        flex-basis: 25%;
    }
    .flex-item:nth-child(2){
        order: 3;
        flex-basis: 25%;
    }
    .flex-item:nth-child(3){
        order: 2;
        flex-basis: 50%;
    }
}
@media (min-device-width: 960px) {
    .flex-wrapper {
        display: flex;
    }
    .flex-item:nth-child(1), .flex-item:nth-child(2) {
        flex-basis: 20%;
    }
    .flex-item:nth-child(3){
        flex-basis: 50%;
    }
}